*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.login-btn-area{
    right: 50px;
}

#nav{
    top:0;
    width: 100%;
    position:fixed;
    height: 10%;
    background-color: rgb(214, 225, 255);
}
.nav-bar-btn{
    display: inline;
}

#menu-btn{
    position: absolute;
    top: 15px;
    left: 15px;
}

#acc-area{
    position: absolute;
    top: 15px;
    right: 15px;
}
#banner{
    position: absolute;
    top: 15px;
    left: 190px;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

#left-menu-area{
    position: fixed;
    top: 68px;
    width: 14%;
    height: 100%;
    display: none;
    float: left;
    background-color: rgb(226, 234, 255);
    
    
}
.left-menu-btn{
    text-align: left; 
    width: 190px;
    height: 25px;
    margin: 10px;
}   
.left-menu-btn a{
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#main-function-search-txb{
    width: 500px;
}
#main-body{
    /* display: none; */
    float: right;
    width: 86%;
    left: 14%;
    position: absolute;
    top: 68px;
}

.txt-input{
    text-align: center;
    border-radius: 13px;
}
select{
    border-radius: 5px;
    width: 130px;
    text-align: center;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */


#formGroupExampleInput1,
#formGroupExampleInput2,
#formGroupExampleInput3,
#formGroupExampleInput4,
#formGroupExampleInput5,
#formGroupExampleInput6,
#formGroupExampleInput7,
#formGroupExampleInput8,
#formGroupExampleInput9,
#formGroupExampleInput10,
#formGroupExampleInput11
{
    width: 400px;
}


#search-box{
    float: right;
}
.search-form{
    display: inline-block;
}
.text-point{
    width: 20px;
}
















