*{
    /* background-color: rgb(234, 234, 234); */
}
.login-btn-area{
    right: 50px;
}

#nav{
    top:0;
    overflow: hidden;
    width: 100%;
    position:fixed;
    height: 10%;
    background-color: rgb(182, 188, 179);
}
.nav-bar-btn{
    display: inline;
}

#menu-btn{
    position: absolute;
    top: 15px;
    left: 15px;
}

#acc-area{
    position: absolute;
    top: 15px;
    right: 15px;
}
#banner{
    position: absolute;
    top: 15px;
    left: 190px;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

#left-menu-area{
    position: fixed;
    top: 68px;
    width: 14%;
    height: 100%;
    display: none;
    float: left;
    background-color: rgb(234, 234, 234);
}
.left-menu-btn{
    text-align: left; 
    width: 190px;
    height: 25px;
    margin: 10px;
}   
.left-menu-btn a{
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#main-function-search-txb{
    width: 500px;
}
#main-body{
    /* display: none; */
    float: right;
    width: 86%;
    height: 100%;
    left: 14%;
    position: absolute;
    top: 68px;
    background-color: rgb(244, 244, 244);
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */


#formGroupExampleInput1,
#formGroupExampleInput2,
#formGroupExampleInput3,
#formGroupExampleInput4,
#formGroupExampleInput5,
#formGroupExampleInput6,
#formGroupExampleInput7,
#formGroupExampleInput8,
#formGroupExampleInput9,
#formGroupExampleInput10,
#formGroupExampleInput11
{
    width: 400px;
}

/* 
#mahs-id{
    display: none;
} */



#search-box{
    float: right;
}
.search-form{
    display: inline-block;
}
.text-point{
    width: 20px;
}